.disableTextSelectionHighlighting {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.container {
    display: flex;
    width: 100%;
}

.onlyPager {
    justify-content: flex-end;
}

.pagerAndSelect {
justify-content: space-between;
}

.onlySelect {
justify-content: flex-start;
}

.paging {
    width: 20%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
}

.nextPrevButton {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
    color: #5C919B;
}

.selectCountOfItems {
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}